@{
    ViewData["Title"] = "Contact Us";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2>Contact KhumaloCraft Emporium</h2>
    <p>Have questions or feedback? Contact us!</p>
    <p>Email: info@khumalocraft.com</p>
</div>
