@{
    ViewData["Title"] = "My Work";
}

<h2>Explore Our Handcrafted Creations</h2>

<div class="row">
<div class="card" style="width: 18rem;">
	<img src="~/Images/cheetah.jpg" class="card-img-top" alt="cheetah">
  <div class="card-body">
    <h5 class="card-title">Cheetah</h5>
    <p class="card-text">This is our well made, hand crafted cheetah!!</p>
    <a href="#" class="btn btn-primary">R350</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
	<img src="~/Images/CLDVImage1.jpeg" class="card-img-top" alt="impala">
    <div class="card-body">
        <h5 class="card-title">Impala</h5>
        <p class="card-text">This is our well made, hand crafted Impala!!</p>
        <a href="#" class="btn btn-primary">R400</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
	<img src="~/Images/cows.jpg" class="card-img-top" alt="Cows">
    <div class="card-body">
        <h5 class="card-title">Cows</h5>
        <p class="card-text">This is our well made, hand crafted Cows!!</p>
        <a href="#" class="btn btn-primary">R100</a>
    </div>
</div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/bird.webp" class="card-img-top" alt="Bird">
        <div class="card-body">
            <h5 class="card-title">Bird</h5>
            <p class="card-text">This is our well made, hand crafted Bird!!</p>
            <a href="#" class="btn btn-primary">R50</a>
        </div>
    </div>
</div>